<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <display-name>Automation Server APP</display-name>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>automationapp</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>automationapp</servlet-name>
        <url-pattern>/</url-pattern>

    </servlet-mapping>


    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>  
            /WEB-INF/automationapp-servlet.xml
            /WEB-INF/automationapp-security.xml
        </param-value>
    </context-param>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <resources mapping="/resources/**" location="/resources/" cache-period="604800" />
</web-app>